.b-search {
  padding: 10px;
}

.b-search.b-search_mini {
  border-radius: 4px;
  background: rgba(255,255,255,0.9);
  width: 235px;
  padding: 5px 35px 5px 0;
  margin: 0 auto;
  position: relative;
}

.b-search__field-search {
  width: 100%;
  color: #a9a9aa;
  font-size: 12px;
}

.b-search__button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 35px;
  cursor: pointer;
  background: none;
  border: 0 none;
}

.b-search__button .icon-sprite-search {
  vertical-align: middle;
}