.error-manager {
  border-radius: 5px;
  background: #ec7e44;
  position: fixed;
  top: 100px;
  left: 50%;
  padding: 23px 13px;
  width: 600px;
  overflow: hidden;
  margin-left: -300px;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  z-index: 3000;
  display: block !important;
}

.error-manager .err__text {
  margin-bottom: 10px;
}

.error-manager .btn-close,
.error-manager .err__btn-reload {
  margin-bottom: 0;
}